<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>Gestion de projet</h2>
      <h3>Définition</h3>
      <p>La gestion de projet, définie comme étant l’ensemble des moyens humains et matériels nécessaires afin d’atteindre un objectif dans 
        les délais, est utilisée au sein de l’entreprise pour permettre une meilleure organisation du déroulement de ses projets professionnels. 
        Cette discipline a pour objectif de maîtriser chaque phase du projet : planification des tâches, anticipation des besoins en ressources, 
        suivi des délais…</p>
      <h4>Mise en contexte</h4>
      <p>La mise en place de gestion de projet pour des projets personnel comme professionnelle en entreprise est un impératif, mon implication 
        est totale afin de mener à bien les différentes tâches.</p>
      <h3>Mon point de vue</h3>
      <p>La démarche de gestion de projet concerne l'organisation générale et le suivi d'un projet, il est très important donc d'en respecter tout 
        les aspects afin de mener à bien un projet. Il est sous la responsabilité d'un chef de projet de s'assurer de la gestion des tâches, et sous 
        ma responsabilité de mener à bien ces tâches. Il est donc primordiale de se sentir concerné.
      </p>
        <div class="comp">
            <h3>Réalisations</h3>
            <dl>
            <dd><a routerLink="/pulpe">Pulpe! Application web/mobile</a></dd>
            <dd><a routerLink="/migrat">Outil de migration</a></dd>
            <dd><a routerLink="/umEditor">UMEditor</a></dd>
            </dl>
          </div>
    </div>
  </div>