<div class="global animated fadeIn">
        <div class="center bg-dark">
          <h2>Développement JAVA</h2>
          <h3>Description</h3>
          <p>Java est un langage de programmation qui a été créé en 1995 par James Gosling et Patrick Naughton, deux employés de Sun Microsystems. 
            Auparavant, il était édité par Sun Microsystems et, depuis 2009, il est édité par la société Oracle. C’est un langage informatique qui 
            s’inspire du langage C.</p>
          <h4>Mise en contexte</h4>
        <p>Durant mes deux années d'alternance, j'ai essentiellement travaillé sur des applications JAVA de type client lourd (logiciel qui propose des fonctionnalités complexes avec un traitement autonome).</p>
          <h3>Mon point de vue</h3>
          
            <p>L'un des principes phares de Java réside dans sa machine virtuelle : celle-ci assure à tous les développeurs Java qu'un programme sera 
                utilisable avec tous les systèmes d'exploitation sur lesquels est installée une machine virtuelle Java.</p>
                <p>Le développent JAVA est fort séduisant de par les multiples possibilités qu'il permet, des applications Android (Mobile/Tablette), de la partie back-end d'un site internet en passant par le 
                    développement de jeux-vidéos 2D/3D.<br> Il est cependant un peu capricieux à prendre en mains mais rien de vraiment rebervatif.</p>
              <p>La documentation est également un des points fort du langage.</p>
            <div class="comp">
                <h3>Réalisations</h3>
                <dl>
                  <dd><a routerLink="/migrat">Outil de migration</a></dd>
                  <dd><a routerLink="/umEditor">UMEditor</a></dd>
                </dl>
              </div>
        </div>
      </div>