<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>Communication</h2>
      <h3>Définition</h3>
      <p>Action d'établir une relation avec quelqu'un, ou de mettre quelque chose en commun avec une autre personne ou un groupe de personnes, 
        et résultat de cette action. <a href="https://interlettre.com/communication/639-qu-est-ce-que-la-communication-definition-et-principales-theories">Source</a></p>
      <h4>Mise en contexte</h4>
      <p>La communication est un axe très important au sein de bioMérieux, il permet une approche du travail beaucoup plus efficiente.</p>
      <h3>Mon point de vue</h3>
      <p>Je place la communication comme étant un axe très important pour une excellente collaboration et la réussite d'un projet. Cela permet 
        d'anticiper et d'avoir une certaine visibilité pour la suite. 
      </p>
        <div class="comp">
            <h3>Réalisations</h3>
            <dl>
            <dd><a routerLink="/pulpe">Pulpe! Application web/mobile</a></dd>
            <dd><a routerLink="/migrat">Outil de migration</a></dd>
            <dd><a routerLink="/umEditor">UMEditor</a></dd>
            <dd><a routerLink="/mapping">Catalogue de mapping</a></dd>
            </dl>
          </div>
    </div>
  </div>