<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>User Mapping Editor - Refactoring (App JAVA)</h2>
      <p>Pour répondre à une problématique de maintenabilité d'un outil déjà existant, il m'a été demandé d'en faire une analyse et voir s'il était possible
        d'en améliorer l'affichage et d'ajouter des fonctionnalités supplémentaires notamment la prise en charge du <a routerLink="/script">catalogue de script JS</a>. 
        Afin de répondre à cette problématique j'ai décidé d'en effectuer le refactoring<span class="lower">*</span>.
      </p>
        
      <p>Tout d'abord, à quoi servait l'outil ? <br>
        L'outil permet l'application de règle CSV sur un message, avec la possibilité d'avoir en sortie un format différent. Par exemple un message "request" de demande au format RS232
        pour l'entrée et en sortie nous voulons du resultat "result" 
      </p>


      <p class="lowerDescription">*Réusinage de code est l'opération consistant à retravailler le code source d'un programme informatique.</p>

      <div class="comp">
        <h3>Compétences utilisées:</h3>
        <dl>
        <dd><a routerLink="/devAppJava">Développement JAVA</a></dd>
        <dd><a routerLink="/UIUX">UI/UX Design</a></dd>
        <dd><a routerLink="/gestionProjet">Gestion de projet</a></dd>
        <dd><a routerLink="/autonomie">Autonomie</a></dd>
        <dd><a routerLink="/forcePropo">Force de proposition</a></dd>
        <dd><a routerLink="/communication">Communication</a></dd>
        </dl>
      </div>
    </div>
  </div>