<div class="global animated fadeIn">
    <div class="center bg-dark">
        <a routerLink="/devAppJava">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../../../assets/img/javaCard.jpg" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Développement JAVA</h5>
            </div>
            </div>
          </a>
          <a routerLink="/devWeb">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../../../assets/img/webCard.jpg" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Développement WEB</h5>
            </div>
            </div>
          </a>
          <a routerLink="/UIUX">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../../../assets/img/uiuxCard.jpg" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">UI/UX Design</h5>
            </div>
            </div>
          </a>
          <a routerLink="/gestionProjet">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../../../assets/img/gestionCard.jpg" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Gestion de projet</h5>
            </div>
            </div>
          </a>
    </div>
  </div>