<div class="global animated fadeIn">
    <div class="center bg-dark">
        <a routerLink="/autonomie">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../../../assets/img/auton.png" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Autonome</h5>
            </div>
            </div>
          </a>
          <a routerLink="/communication">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../../../assets/img/comm.jpg" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Communication</h5>
            </div>
            </div>
          </a>
          <a routerLink="/forcePropo">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../../../assets/img/onboarding.jpg" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Force de proposition</h5>
            </div>
            </div>
          </a>
    </div>
  </div>