<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>User Mapping Editor - Refactoring (App JAVA)</h2>
      <p>Pour répondre à une problématique de maintenabilité d'un outil déjà existant, il m'a été demandé d'en faire une analyse et voir s'il était possible
        d'en améliorer l'affichage et d'ajouter des fonctionnalités supplémentaires notamment la prise en charge du <a routerLink="productions/">catalogue de script JS</a>. 
        Afin de répondre à cette problématique j'ai décidé d'en effectuer le refactoring<span class="lower">*</span>.
      </p>
        
      <p>Tout d'abord, à quoi servait l'outil ? <br>
        L'outil permettait de simuler la communication entre un LIS et un 
      </p>


        <p class="lowerDescription">Image non contractuelle, maquette créé sous Adobe XD pour illustrer ma réalisation.</p>
        
      <div class="comp">
        <h3>Compétences utilisées:</h3>
        <dl>
        <dd><a routerLink="devAppJava">Refactoring Application JAVA Swing</a></dd>
        <dd><a routerLink="gestionProjet">Gestion de projet</a></dd>
        <dd><a routerLink="autonomie">Autonomie</a></dd>
        <dd><a routerLink="forcePropo">Force de proposition</a></dd>
        <dd><a routerLink="communication">Communication</a></dd>
        </dl>
      </div>
    </div>
  </div>