<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>Développement WEB</h2>
      <h3>Description</h3>
      <p>Le développement web repose sur l’utilisation des langages (HTML/CSS, JavaScript, PHP…) pour écrire des programmes qui sont ensuite exécutés par les ordinateurs. 
        Les instructions sont mises en place sur Internet et sont effectuées sur des serveurs. En fonction des besoins des propriétaires du site ou des pages web, 
        ces dernières peuvent être constituées uniquement de textes et d’éléments graphiques ressemblant à un document ou être interactives en affichant des informations 
        qui évoluent (panier d’achat, par exemple).
        </p>
      <h4>Mise en contexte</h4>
    <p>Durant mes années d'alternance avec la montée en compétence en javascript notament grace à la constitution du catalogue de script, j'ai effectué une formation en 
      sur un framework JS Angular associé avec Bootstrap etc.. pour la réalisation de ce portfolio, en intervenant aussi sur le front du logiciel BCI Connect par exemple 
      mais aussi pour la création de mon projet perso Pulpe!. 
    </p>
      <h3>Mon point de vue</h3>
      
        <p>J’aime le processus créatif qu’il est possible d’avoir dans le développement web (front), la satisfaction de voir son code se transformer au beau ramassis de pixel bien organisé et fonctionnels.</p>
        <div class="comp">
            <h3>Réalisations</h3>
            <dl>
              <dd><a routerLink="/pulpe">Pulpe! Application web/mobile</a></dd>
              <dd><a routerLink="/script">Catalogue de script</a></dd>
            </dl>
          </div>
    </div>
  </div>