<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>Autonome</h2>
      <h3>Définition</h3>
      <p>L'autonomie est la capacité à réaliser plusieurs tâches en étant moralement et intellectuellement indépendant.</p>
      <h4>Mise en contexte</h4>
      <p>Afin de tendre vers une liberté totale et dans une démarche d'amélioration technique lors de mes projets personnels.</p>
      <p>Mais également afin de me rendre beaucoup plus productif durant mon activité professionnelle.</p>
      <h3>Mon point de vue</h3>
      <p>Avoir la capacité d'être autonome est une qualité très importante, en effet c'est un gage de maturité et d'engagement professionnelle.<br>
        À mes yeux dans notre métier il est essentiel d'être autonome.</p>
        <div class="comp">
            <h3>Réalisations</h3>
            <dl>
            <dd><a routerLink="/pulpe">Pulpe! Application web/mobile</a></dd>
            <dd><a routerLink="/migrat">Outil de migration</a></dd>
            <dd><a routerLink="/umEditor">UMEditor</a></dd>
            <dd><a routerLink="/mapping">Catalogue de mapping</a></dd>
            </dl>
          </div>
    </div>
  </div>
  