<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>UI/UX Design</h2>
      <h3>Description</h3>
        <p>UI est l’abréviation d’user interface ou interface utilisateur. L’UI design se rapporte donc à l’environnement graphique dans lequel évolue 
            l’utilisateur d’un logiciel, d’un site web ou d’une application. La mission de l’UI designer consiste à créer une interface agréable et pratique, 
            facile à prendre en main.
        </p>
        <p>Le terme UX vient d’user experience ou expérience utilisateur. Le travail de l’UX designer consiste donc à concevoir une interface accessible et 
          facile à prendre en main pour tout type de support.</p>
      <h4>Mise en contexte</h4>
    <p>Lors de mes différentes tâches durant mes deux ans d'alternance j'ai contribué à l'amélioration de la GUI (graphic user interface) de l'application BCI Connect, 
      mais également lors du refactoring de l'application JAVA UMEditor et la création de l'outil de migration avec la bibliothèque Java Swing.
    </p>
    <p>Sur mon projet personnel Pulpe! par exemple j'ai effectué un travail un peu plus poussé notamment avec la création d'un Mockup (maquette) intérractif avec le logiciel 
      Adobe XD avant d'attaquer le développement ce qui m'a permis de me projeter sur le développement ainsi qu'une économie de temps non-négligeable. 
    </p>
      <h3>Mon point de vue</h3>
      <p>Alors que l'expérience utilisateur va influer sur le flux de l’application, sur la manière dont tous les boutons vous guident dans vos tâches et sur la manière dont 
        l’interface répond efficacement aux besoins d’informations des utilisateurs, l'interface utilisateur va influer sur la manière dont tous ces éléments d’interface 
        apparaîtront à l’écran. L'UX et l'UI sont étroitement liées pour proposer une interface utilisateur finale aussi belle que possible tout en fonctionnant efficacement.
      </p> 
        <div class="comp">
            <h3>Réalisations</h3>
            <dl>
              <dd><a routerLink="/pulpe">Pulpe! Application web/mobile</a></dd>
              <dd><a routerLink="/migrat">Outil de migration</a></dd>
              <dd><a routerLink="/umEditor">UMEditor</a></dd>
            </dl>
          </div>
    </div>
  </div>