@import url('../../app.component.scss');

.logoPulpe {
    margin-right: 1%;
    width: 15%;
}

h2 {
    margin-top: 1%;
}

.italic {
    font-style: italic;
    //color: #0fffb7;
}

ul {
    margin: 2%;
}

li {
    margin: 1%;
}

h5 {
    text-decoration: underline;
}

.phoneExApp {
    float: right;
}

.logo {
    width: 10% !important;
    margin-top: 3%;
}

.exampleMock {
    margin-top: 5%;
}

.mockup {
    width: 50%;
}

.fleche {
    margin-top: 15%;
    margin-left: 5%;
    width: 10%;
}