<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>Force de proposition</h2>
      <h3>Définition</h3>
      <p>Avoir la capacité et le dynamisme pour faire des suggestions, proposer des améliorations.</p>
      <h4>Mise en contexte</h4>
      <p>Se sentir concerné par un projet, par une ou plusieurs tâches me permet de me projeté et d'en faire des suggestions et améliorations. 
        C'est notament le cas chez bioMérieux ou j'ai pu mettre en valeur cette capacité à être impliqué.</p>
      <h3>Mon point de vue</h3>
      <p>Je pense que de façon général il est très important de mettre en avant une ou plusieurs suggestions pertinente et cohérente avec le 
        projet, cela permet d'impliqué le collaborateur et de lui faire confiance sur son engagement. <br>
        Cela permet au-delà du projet aussi d'améliorer les rapports humains.
      </p>
        <div class="comp">
            <h3>Réalisations</h3>
            <dl>
            <dd><a routerLink="/migrat">Outil de migration</a></dd>
            <dd><a routerLink="/umEditor">UMEditor</a></dd>
            <dd><a routerLink="/mapping">Catalogue de mapping</a></dd>
            </dl>
          </div>
    </div>
  </div>