<div class="global animated fadeIn">
    <div class="center bg-dark">
        <a routerLink="/techComp">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../assets/img/Frame1.png" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Compétences Techniques</h5>
            </div>
            </div>
          </a>
          <a routerLink="/humanComp">
            <div class="card productionBox" style="width: 15rem;">
              <img class="card-img-top" src="../../../assets/img/Frame5.png" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Compétences Humaines</h5>
            </div>
            </div>
          </a>
    </div>
  </div>