<div class="global animated fadeIn">
    <div class="center bg-dark">
      <h2>Portfolio</h2>
      <p>Afin de m'exercer sur Angular, j'ai pris l'initiative de développer mon portfolio entièrement en Angular.
      </p>
        
      <p>Pour mon portfolio j’ai réalisé une SPA très classique avec les concepts de base de Angular 2, l’application est un composant qui affiche des composants contenant des composants. 
          
      </p>
      <p>Cela m’a permis de me familiariser avec le framework et son fonctionnement.</p>

      <div class="comp">
        <h3>Compétences utilisées:</h3>
        <dl>
        <dd><a routerLink="/devAppWeb">Développement Angular</a></dd>
        <dd><a routerLink="/UIUX">UI/UX Design</a></dd>
        <dd><a routerLink="/gestionProjet">Gestion de projet</a></dd>
        <dd><a routerLink="/autonomie">Autonomie</a></dd>
        </dl>
      </div>
    </div>
  </div>